{% extends 'base.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Acerca de Matcha</h1>
    <p>Matcha es una aplicación de citas diseñada para ayudarte a encontrar personas que comparten tus intereses y valores. Nuestro objetivo es facilitar conexiones auténticas y significativas.</p>
    <p>Ofrecemos una variedad de características para mejorar tu experiencia, incluyendo chats en tiempo real, perfiles personalizables y notificaciones de actividad.</p>
</div>
{% endblock %}
