blinker==1.9.0
click==8.1.7
dnspython==2.7.0
email_validator==2.2.0
Faker==33.0.0
Flask==3.1.0
Flask-Mail==0.10.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
psycopg2-binary
python-dateutil==2.9.0.post0
six==1.17.0
typing_extensions==4.12.2
Werkzeug==3.1.3