# Ignorar el entorno virtual
venv/
env/

# Ignorar archivos de configuración local
.env

# Ignorar directorios de caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar archivos de base de datos locales
*.db

# Ignorar archivos de log
*.log

# Ignorar archivos de configuración del editor
.idea/
.vscode/

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar directorios de compilación
build/
dist/

# Ignorar el directorio de pruebas si no es necesario
tests/

# Ignorar Docker-related
docker-compose.override.yml
