Flask==2.3.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.47  # Asegúrate de incluir una versión compatible
psycopg2-binary==2.9.6
Flask-Mail==0.9.1
python-dotenv==0.20.0  # Si usas un archivo .env
Pillow
gunicorn
Flask-Migrate
flask-login
flask-wtf
